@charset "UTF-8";
@import "./reset";
@import "./setting";

// base
html{
  font-size: 62.5%;
}
body{
  font-family: $font-ja,sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: $color-font;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;/*スマホ横時、文字が大きくならない*/
  line-height: 1.5;
}
img{
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  border: none;
}
a{
  text-decoration: none;
  color: $color-font;
}
// ーーーーーーーーーーーーーーーーーーーーーーー
// ヘッダー
// ーーーーーーーーーーーーーーーーーーーーーーー

.header{
  width: 100%;
  height: 80px;
  background-color: $color-main;
  color: #fff;

  @include mq(sp){
    height: 110px;
  }
  
  .inner{
    padding: 0 20px;
    height: 100%;
    margin: auto;
    width: $width-inner;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mq(tab){
      width: 100%;
    }
    @include mq(sp){
      flex-direction: column;
      justify-content: center;
    }
  }

  .site-logo{
    font-size: 2.8rem;
    color: #fff;

    @include mq(sp){
      margin-bottom: 20px;
    }
  }

  &-nav{
    ul{
      display: flex;

      li{
        margin-left: 40px;

        @include mq(sp){
          margin: 5px 15px 0;
        }
        a{
          color: #fff;
          font-size: 2rem;
          font-weight: normal;
          display: block;
        }
      }
    }
  }
}

// ーーーーーーーーーーーーーーーーーーーーーーー
// メインビュー
// ーーーーーーーーーーーーーーーーーーーーーーー
.main{
  .mv{
    height: 603px;
    background: url(../img/mv@2x.png)no-repeat center center /cover;

    @include mq(sp){
      height: 450px;
    }
  }
}

// ーーーーーーーーーーーーーーーーーーーーーーー
// feature
// ーーーーーーーーーーーーーーーーーーーーーーー
.feature{

  .inner{
    width: $width-inner;
    margin: auto;
    padding: 40px 40px 90px 20px;

    @include mq(tab){
      width: 100%;
    }
    @include mq(sp){
      padding: 60px 20px 20px;
    }
  }
  
  &-ttl{
    font-size: 3.2rem;
    text-align: center;
    margin-bottom: 42px;
    font-weight: bold;
    
    @include mq(sp){
      margin-bottom: 20px;
    }
  }

  .container{
    display: flex;
    justify-content: space-between;
    
    @include mq(sp){
      flex-direction: column;
    }
  }
  &-img{
    width: 48%;

    @include mq(sp){
      width: 100%;
    }
  }
  &-desc{
    width: 42%;

    & br{
      display: none;
    }

    @include mq(sp){
      width: 100%;
    }
    &__ttl{
      font-size: 3.2rem;
      font-weight: bold;
      line-height: 1.2;
      margin-bottom: 30px;

      @include mq(sp){
        font-size: 2.5rem;
        margin-top: 30px;
        text-align: center;
      }  
    }

    &__txt{
      margin-bottom: 20px;
    }

    &__btn{
      margin-top: 30px;
      
      @include mq(sp){
        width: 100%;
        margin: 50px auto;
      }
      .read-more{
        display: inline-block;
        padding: 1.5rem 5rem;
        background-color: $color-main;
        color: #fff;
        border-radius: 10px;
        box-shadow: 0  3px 6px #00000029;
        &:hover{
          opacity: 0.8;
        }
      }
    }
  }
}
// ーーーーーーーーーーーーーーーーーーーーーーー
// フッター
// ーーーーーーーーーーーーーーーーーーーーーーー

.footer{
  padding: 20px;
  background-color: $color-main;
  color: #fff;
  text-align: center;

  &__logo{
    font-size: 2.4rem;
    line-height: 1;
    font-weight: bold;
    margin-bottom: 10px;

  }
  &__copy-right{
    font-size: 12px;
    font-weight: normal;
  }
}